[default]
region = ap-northeast-1
output = json
aws_access_key_id = {{ (bitwardenFields "item" "AWS_Keys").access_key.value }}
aws_secret_access_key = {{ (bitwardenFields "item" "AWS_Keys").secret_key.value }}
aws_session_token = {{ (bitwardenFields "item" "AWS_Keys").session_token.value }}
