[tools]
aws-sam-cli = "latest"
"cargo:tokei" = "latest"
chezmoi = "latest"
eza = "latest"
fzf = "latest"
gitleaks = "latest"
go = "latest"
jq = "latest"
node = "lts"
oh-my-posh = "latest"
podman = "latest"
ripgrep = "latest"
rust = "latest"
usage = "latest"
zoxide = "latest"

[tasks."setup-wsl"]
description = 'WSL 環境のセットアップ'
depends = [
    "setup-wsl:*",
]

[tasks."disable-sudo-password"]
description = 'パスワードなし sudo の設定'
hide = true
run = '''
#!/usr/bin/env bash
set -euo pipefail

if [ ! -f "{{ .sudoers_file }}" ]; then
    echo "Configuring passwordless sudo..."
    echo "$USER ALL=(ALL) NOPASSWD: ALL" | sudo tee "{{ .sudoers_file }}" > /dev/null
    sudo chmod 0440 "{{ .sudoers_file }}"
    sudo chown root:root "{{ .sudoers_file }}"
    sudo visudo -cf "{{ .sudoers_file }}"
fi
'''

[tasks."enable-sudo-password"]
description = 'パスワードあり sudo の設定'
run = '''
#!/usr/bin/env bash
set -euo pipefail

if [ -f "{{ .sudoers_file }}" ]; then
    echo "Configuring sudo with password..."
    sudo rm -f "{{ .sudoers_file }}"
fi
'''

[tasks."setup-wsl:apt-packages"]
description = 'APT パッケージのインストール'
hide = true
depends = ["disable-sudo-password"]
run = '''
#!/usr/bin/env bash
set -euo pipefail

# ------------------------------------
# Git を最新版に更新
# ------------------------------------
sudo add-apt-repository -y ppa:git-core/ppa
sudo apt update
sudo apt install -y git

# ------------------------------------
# Fish Shell をインストール
# ------------------------------------
sudo add-apt-repository -y ppa:fish-shell/release-4
sudo apt update
sudo apt install -y fish

# ログインシェルを fish に変更
if [ "$SHELL" != "$(command -v fish)" ]; then
    command -v fish | sudo tee -a /etc/shells
    sudo chsh -s "$(command -v fish)" $USER
fi
'''

[tasks."setup-wsl:snap-packages"]
description = 'Snap パッケージのインストール'
hide = true
depends = ["disable-sudo-password"]
run = '''
#!/usr/bin/env bash
set -euo pipefail

if ! command -v aws >/dev/null 2>&1; then
    sudo snap install aws-cli --classic
fi
'''

[tasks."setup-wsl:mise-packages"]
description = 'mise パッケージのインストール'
hide = true
run = '''
#!/usr/bin/env bash
set -euo pipefail

mise install -y
'''

[tasks."setup-wsl:vscode-extensions"]
description = ' (vscode) VS Code 拡張機能のインストール'
hide = true
run = '''
#!/usr/bin/env bash
set -euo pipefail

if command -v code >/dev/null 2>&1; then
    EXTENSIONS=(
        "editorconfig.editorconfig"
        "esbenp.prettier-vscode"
        "mhutchie.git-graph"
        "ryu1kn.partial-diff"
    )
    INSTALLED_EXTS=$(code --list-extensions)
    for ext in "${EXTENSIONS[@]}"; do
        if ! echo "$INSTALLED_EXTS" | grep -qi "^$ext$"; then
            code --install-extension "$ext" --force
        fi
    done
else
    echo "code command が見つからないため、VS Code 拡張機能のインストールをスキップします。"
fi
'''
