{{- if eq .chezmoi.os "linux" -}}
[tools]
aws-sam-cli = "latest"
carapace = "latest"
"cargo:tokei" = "latest"
eza = "latest"
fzf = "latest"
gitleaks = "latest"
jq = "latest"
oh-my-posh = "latest"
podman = "latest"
ripgrep = "latest"
rust = "latest"
usage = "latest"
zoxide = "latest"
{{- end -}}
